<a href="https://colab.research.google.com/github/Justdead12/CO2-Emissions-End-Assignment/blob/main/CO2_Emissions_End_Assignment_Q1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%reload_ext google.colab.data_table

df1 = pd.read_csv('https://raw.githubusercontent.com/Justdead12/CO2-Emissions-End-Assignment/main/road-vehicles-per-1000-inhabitants-vs-gdp-per-capita.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/Justdead12/CO2-Emissions-End-Assignment/main/annual-co2-emissions-per-country.csv')
df3 = pd.read_csv('https://raw.githubusercontent.com/Justdead12/CO2-Emissions-End-Assignment-Q1/main/population.csv')

In [ ]:
# Make the dataframe more usefull and organized. The only usefull year is 2014 in this dataframe.
df_cars = df1.drop(columns= ['Code', 'Population (historical estimates)', 'Continent'])
df_cars = df_cars.rename(columns= {'Motor vehicles per 1000 people (NationMaster (2014))':'Vehicles/1000 People', 'GDP per capita, PPP (constant 2017 international $)':'GDP/Capita', 'Entity': 'Country'})
df_cars = df_cars.dropna()
df_cars = df_cars.set_index('Country')

# Make a list of the top 20 countries with the most vehicles per 1000 people and the highest GDP per capita.
top20_most_vehicles = df_cars.sort_values(['Vehicles/1000 People'], ascending=False)[0:20]
top20_highest_gdp = df_cars.sort_values(by=['GDP/Capita'], ascending=False)[0:20]

# Merge the 2 dataframes, so only the countries in both of the top 20 are shown.
top20 = pd.merge(top20_most_vehicles, top20_highest_gdp, on=('Country', 'Year', 'Vehicles/1000 People', 'GDP/Capita'))
top20 = top20.drop(columns= ['Year'])

In [ ]:
# List of non countries.
non_country = (['World', 'Asia', 'Africa', 'North America', 'South America', 'Europe', 'Oceania', 'United Kingdom', 'Australia'])

# Dataframe with population per country in 2014.
population_country = df1.rename(columns= {'Population (historical estimates)':'Population', 'Entity':'Country'})
population_country = population_country[(population_country['Year'] == 2014)]
population_country = population_country.drop(columns= {'Code', 'Motor vehicles per 1000 people (NationMaster (2014))', 'GDP per capita, PPP (constant 2017 international $)', 'Continent', 'Year'})
population_country = population_country.set_index('Country')
population_country = population_country.drop(non_country)
top20_population = population_country.sort_values(by=['Population'], ascending=False).head(20)

# Merge cars and gpd with population.
top20 = pd.merge(top20, top20_population, on=('Country'))

In [ ]:
# List of non countries.
non_country = (['World', 'Upper-middle-income countries', 'High-income countries', 'Lower-middle-income countries', 'Asia', 'Asia (excl. China & India)', 'Africa', 
                'North America', 'North America (excl. USA)', 'South America', 'Europe', 'European Union (28)', 'Oceania', 'United Kingdom', 
                'European Union (27)', 'Europe (excl. EU-27)', 'Europe (excl. EU-28)', 'Australia', 'International transport'])

# Dataframe with annual emissions per country in 2014.
df_emission_annual = df2.drop(columns= 'Code')
df_emission_annual = df_emission_annual.rename(columns= {'Entity':'Country'})
df_emission_annual = df_emission_annual[(df_emission_annual['Year'] == 2014)]
df_emission_annual = df_emission_annual.drop(columns= 'Year')
df_emission_annual = df_emission_annual.set_index('Country')
df_emission_annual_2014 = df_emission_annual.drop(non_country)
top20_emission = df_emission_annual_2014.sort_values(by= 'Annual CO2 emissions', ascending= False).head(20)

top20 = pd.merge(top20, top20_emission, on=('Country'))

top20

,Vehicles/1000 People,GDP/Capita,Population,Annual CO2 emissions
Country,,,,
United States,797.0,57213.269531,318673422.0,5522807202
Germany,572.0,50845.527344,81450370.0,792587770

In [ ]:
# The final conclusion of the question 'What is the biggest predictor of a large CO2 output per capita of a country' is the United States
# I merged the top 20 of 4 different polution factors into 1 dataframe. If a country was not in both dataframes, the were deleted from the dataframe
# At last we are left with only 2 countries, United States and Germany, so they were in all the 4 dataframes in the top20.
# And if we take a look at all the 4 categories the United States had the most Vehicles, the highest GDP, the highest population and the highest CO2 emissions.